.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5.62rem;
  padding: 1rem;
  z-index: 10;
}

.nav-menu {
  display: flex;
}

.nav-menu-item {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: all 0.5s ease;
}

.nav-menu-item a {
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-menu-item:hover {
  background: #2695ef6f;
}

.hamburger {
  display: none;
}

.hamburger-icon {
  color: #fff;
}

@media screen and (max-width: 1240px) {
  .hamburger {
    display: block;
  }
  .nav-menu {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding-top: 4rem;
    transition: all 0.3s;
    z-index: -1;
    background: rgba(0, 0, 0, 0.9);
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-menu-item {
    padding: 1rem;
  }
  .nav-menu-item a {
    font-size: 2rem;
  }
}
